[build]

command = "npm run prod"
publish = "build_production"
environment = { PHP_VERSION = "7.4" }

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = "default-src https: 'unsafe-inline' 'unsafe-eval';"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "same-origin"
    Permissions-Policy = "geolocation=(self \"https://dd2.netlify.app\"), microphone=()"
    cache-control = '''
    max-age=3600,
    public,
    must-revalidate'''
